.circular--portrait {
  position: relative;
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  border-radius: 50%;
  border:5px solid black;
}

.circular--portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-prim{
  background-color: #056839;
}

.bg-sec{
  background-color: #8DC63F;
}

.circular--portrait{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.img-circle {
  border-radius: 50%;
}
img.img-circle {
  background:black;
}
span {
 left:0;
 text-align:center;
 width:100%;
 bottom:0;
 padding:20px 0;
}
.img-thumbnail {
border-radius: 0;
display:inline-block;
padding:20px;
 }
.img-thumbnail > div {
display:inline-block;
overflow: hidden;
height: 140px;
-webkit-box-shadow: 0 2px 0 2px #333;
box-shadow: 0 2px 0 2px #333;
border-radius:50%;
}